body{
    background-color: rgb(224, 234, 233);
    font: 15px 'trebuchet MS', 'lucida sans';
    text-align: center;
}

button{
    background-color: rgb(224, 234, 233);
    font: 15px 'trebuchet MS', 'lucida sans';
    text-align: center;
}

img{
    height: 30%;
    width: 30%;
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

#contenedor > div {
    width: 50%;
}

.lista {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    align-items: center;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.lista ul {
    margin: 0 0 0 2em; 
}

.lista li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgb(190, 197, 201);
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.lista li:hover{
    background: #eee;
}

.lista li:hover:before{
    transform: rotate(360deg);  
}

.lista li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: rgb(159, 196, 218);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

a{
    padding: 20px;
    color: black;
    display: inline;

}

input[type=button] {
    font: 'trebuchet MS', 'lucida sans';
    background-color: rgb(159, 196, 218);
    border-radius: 5px;
    border-color: rgb(159, 196, 218);
    text-decoration: none;
    color: black;
    padding: 15px 15px;
    margin: 15px 15px;
    cursor: pointer;
 }
